@charset "ISO-8859-1";

body {
	background-color: cyan;
}

.form-div {
	background-color: orange;
	border: 2px solid red; padding : 10px; border-radius : 50px 20px;
	width: 400px;
	height: 350px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	margin-top: 120px;
	padding: 10px;
	border-radius: 50px 20px;
}

.error-div {
	background-color: blue;
	/* text-color:red; */
}